<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.ac.fun"
    android:versionCode="26"
    android:versionName="1.2.8" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:name="tv.acfun.video.AcApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tv.acfun.video.HomeActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tv.acfun.video.ChannelActivity" />
        <activity
            android:name="tv.acfun.video.SigninActivity"
            android:theme="@style/Theme.Styled.Dialog" />
        <activity android:name="tv.acfun.video.SettingsActivity" />
        <activity android:name="tv.acfun.video.ConversationActivity" />
        <activity
            android:name="tv.acfun.video.CommentsActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="tv.acfun.video.DetailsActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/AppTheme.TranslucentActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="av" />
            </intent-filter>
        </activity>
        <activity
            android:name="tv.acfun.video.PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape" />
 		<activity
            android:name="tv.acfun.video.DownloadManActivity"
            android:configChanges="orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow"
            />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="521d6ae356240bd04f0569ac" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GoogePlay" />
		<service android:name="tv.acfun.video.DownloadService" android:label="Acfun DownloadService"/>
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" />
        
        
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>