<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.avfun"
    android:installLocation="preferExternal"
    android:versionCode="48"
    android:versionName="0.6.8" 
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup='true'
        android:theme="@style/AcTheme"
        >
            
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchResultActivity" />
        </activity>
        
        <activity
            android:name=".SearchResultActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        
        <activity 
        android:name=".Channel_Activity"
        />
        <activity 
        android:name=".Detail_Activity"
        />
        <activity 
        android:name=".Comments_Activity"
        />
        <activity 
        android:name=".Settings_Activity"
        />
        <activity 
        android:name=".WebView_Activity"
        />
        <activity 
        android:name=".History_Activity"
        />
        <activity 
        android:name=".ImagePagerActivity"
        />
        <activity 
        android:name=".Play_Activity"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:configChanges="orientation|screenSize|screenLayout"
		android:screenOrientation="landscape" 
        />
        
        <activity
        android:name="io.vov.vitamio.activity.InitActivity"
        android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
        android:launchMode="singleTop"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="stateAlwaysHidden" />
        <activity 
        android:name="tv.avfun.Favorite_Activity"
        />
        <activity 
        android:name="tv.avfun.Section_Activity"
        />
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

         <meta-data android:value="50a79c105270152fbd00002f" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="AndroidMarket" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>