<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.ac.fun"
    android:versionCode="17"
    android:versionName="1.2.0_alpha" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    <application
        android:name="tv.acfun.video.AcApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tv.acfun.video.HomeActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tv.acfun.video.ChannelActivity" />
        <activity android:name="tv.acfun.video.SettingsActivity" />
        <activity android:name="tv.acfun.video.ConversationActivity" />
        <activity android:name="tv.acfun.video.DetailsActivity" android:theme="@style/AppTheme.TranslucentActionBar"/>
        <activity
            android:name="tv.acfun.video.PlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation" />
        <!-- <activity
            android:name=".PlayerSysActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation" /> -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
      	<meta-data
            android:name="UMENG_APPKEY"
            android:value="521d6ae356240bd04f0569ac" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Test" />
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" />
    </application>

</manifest>